:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #9546fc;
  }
  
  html {
    box-sizing: border-box;
  }


  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  .right-align {
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }

  .top5 {
    width: 100%; /* 화면 너비에 맞게 조정 */
    height: 0; /* 아래의 padding-top 값으로 높이를 조정 */
    padding-top: 56.25%; /* 가로:세로 비율에 따라 적절한 값을 설정 (예: 16:9 비율일 경우 56.25%) */
    position: relative; /* 내부 요소의 위치를 설정하기 위해 상대적인 위치로 설정 */
    overflow: hidden; /* 이미지를 컨테이너에 맞게 자르기 위해 overflow 속성을 hidden으로 설정 */
  }
  .top5 img{
    position: absolute; /* 컨테이너 내에서의 위치를 조정하기 위해 절대적인 위치로 설정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 컨테이너에 맞게 조정 */
  }
 
  .top5 {
    display: flex; /* 이미지를 수직으로 정렬하기 위해 Flexbox 레이아웃을 사용 */
    justify-content: center; /* 수직 방향 가운데 정렬 */
    align-items: flex-start; /* 수평 방향 위쪽 정렬 */
    margin-top:auto; /* 원하는 여백을 설정 */
  }

  .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: var(--body-bg);
    font-family: Helvetica, sans-serif;
  }
  
  .msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  }
  
  .msger-header {
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
  }
  
  .msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  .msger-chat::-webkit-scrollbar {
    width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
    background: #ddd;
  }
  .msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }
  
  .msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  .msger-input {
    flex: 1;
    background: #ddd;
  }
  .msger-send-btn {
    margin-left: 10px;
    background: #9546fc;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  .msger-send-btn:hover {
    background: rgb(187, 190, 188);
  }
  
  .msger-chat {
    background-color: #fcfcfe;
    background-image: url("https://img.freepik.com/free-photo/cement-texture_1194-5341.jpg")
  }
  
  
  