@font-face {
    font-family: 'EBSHunminjeongeumSBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHunminjeongeum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EBSHMJESaeronRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHMJESaeronRA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root {
    --body-bg: white;
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #16a072;
  }
  
  html {
    box-sizing: border-box;
  }

  .now {
    width: 300px;
    height: 50px;
    margin: 5px;
    /* margin-bottom: 5px; */
    background-color: #504b45;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 6px;
    font-family: EBSHunminjeongeumSBA;
    font-size: 22px;
    line-height: 1.4;
    color: white;
  }
  
    #chatOut {

    background-color: #504b45;
    text-align: center;
    border-color: #504b45;
    font-family: EBSHunminjeongeumSBA;
    font-size: 22px;
    line-height: 1.4;
    color: white;
    box-shadow: none;
    
  }

  .slider-container {
    width: 300px;
    height: 240px;
    background-color: #eee;
    border: 2px solid #ddd;
    color: #eee;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
    font-family: EBSHMJESaeronRA;
    font-size: 23px;
    background-image: url("./board.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 1.5;
  }

  .slider-container {
    overflow: hidden; /* 슬라이드가 넘치는 부분을 숨김 */
  }
  
  .slider-list {
    list-style: none; /* 리스트 기본 스타일 제거 */
    margin: 0;
    padding: 0;
    display: flex; /* 슬라이드들을 가로로 배치 */
    transition: transform 0.3s ease; /* 슬라이드 애니메이션 설정 */
  }
  
  .slider-list li {
    min-width: 100%; /* 각 슬라이드가 전체 화면을 차지하도록 설정 */
    padding: 10px;
    text-align: center;
  }


  .sejong {
    width: 300px;
    height: 520px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    margin: 5px;
    border-radius: 3px;
    background-image: url("https://img.freepik.com/free-photo/cement-texture_1194-5341.jpg");
    margin-bottom: 10px;
    border: 2px solid #ddd;
    
 }


 /* 반응형 */

 .msger-inputarea {
    width: 100%; /* 기본적으로 가로 폭을 100%로 설정 */
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box; /* 패딩과 보더를 요소의 크기에 포함 */
  }

 /* 미디어 쿼리를 사용하여 화면 크기에 따라 스타일 변경 */
 @media (max-width: 768px) {
    .msger-inputarea {
      font-size: 14px; /* 화면 너비가 768px 이하일 때 글자 크기를 조정 */
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .msger-inputarea {
      font-size: 16px; /* 화면 너비가 769px 이상 1024px 이하일 때 글자 크기를 조정 */
    }
  }

  @media (min-width: 1025px) {
    .msger-inputarea {
      font-size: 18px; /* 화면 너비가 1025px 이상일 때 글자 크기를 조정 */
    }
  }


  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  .right-align {
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }


  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: var(--body-bg);
    font-family: Helvetica, sans-serif;
    
  }
  
  .msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    
  }
  
  .msger-header {
    text-align: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: var(--border);
    background: #504b45;
    font-family: EBSHunminjeongeumSBA;
    font-size: 25px;
    color: white;
    border-radius: 5px;
  }
  
  .msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  .msger-chat::-webkit-scrollbar {
    width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
    background: #ddd;
  }
  .msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }
  
  .msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
    border-radius: 5px;
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    border-radius: 5px;
  }
  .msger-input {
    flex: 1;
    background: #ddd;
  }
  .msger-send-btn {
    margin-left: 10px;
    background: #504b45;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  .msger-send-btn:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  
  .msger-chat {
    background-color: #fcfcfe;
    background-image: url("https://img.freepik.com/free-photo/cement-texture_1194-5341.jpg")
  }
  