<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./new.css">
</head>
<body>
    <div class="left-div">
        <div class="now">
            <h3>현재 접속자 수 : 10명</h3>
        </div>
        <div class="top5">
            <h3>욕한 사람</h3>      
            <table name="table">
                <tr>
                    <td>1위 배지훈</td>
                </tr>
                <tr>
                    <td>2위 배지훈</td>
                </tr>
                <tr>
                    <td>3위 배지훈</td>
                </tr>
                <tr>
                    <td>4위 배지훈</td>
                </tr>
                <tr>
                    <td>5위 배지훈</td>
                </tr>
            </table>
        </div>

        <div class="sejong">
            <div class="img-container">
                <img src="sejong_modi.gif" style="width: 300px; height: 500px;" >
            </div>
        </div>
        <div class="now">
            <h3>채팅방 나가기</h3>
        </div>
        
    </div>
    <section class="msger">
        <header class="msger-header">
          <div class="msger-header-title">
            <i class="chatroom"></i> 대화방
          </div>
          <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
          </div>
        </header>
      
        <main class="msger-chat">
          <div class="msg left-msg">

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">지훈</div>
                <div class="msg-info-time">12:45</div>
              </div>
      
              <div class="msg-text">
                상대방 메세지 보이는곳~
              </div>
            </div>
          </div>
      
          <div class="msg right-msg">
            
      
            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">재혁</div>
                <div class="msg-info-time">12:46</div>
              </div>
      
              <div class="msg-text">
                내가 보낼 메세지~
              </div>
            </div>
          </div>
        </main>
      
        <form class="msger-inputarea">
          <input type="text" class="msger-input" placeholder="전송할 말을 입력하세요. 바르고 고운 말을 사용합시다 :)">
          <button type="submit" class="msger-send-btn">전송</button>
        </form>
      </section>

      <script src="./new.js"></script>


</body>
</html>